nav{
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

.menubar {
    display: flex;
}
nav ul li{
    display: inline-block;
    margin: 4px;
    list-style: none;
}

.banner {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    
}

.banner-left {
    width: 30%;
    margin-right: 48px;
}

.banner-right {
    width: 70%;
}